<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <title>Lista de Empleados</title>
    <style>
        .container {
            margin-top: 20px;
        }
        .img-thumbnail {
            max-width: 100px;
            max-height: 100px;
        }
        .header-container {
            background-color: blue;
            padding: 10px;
        }
        .header-text {
            color: white;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <div class="container">
            <h1 class="header-text">Lista de Empleados</h1>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/create">Crear Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Carrito de Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <!-- Contenido de la página -->
    
</body>
</html>
